<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Scraping with Mongo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Saved Articles</a>
      </li>
    </ul>
    {{!-- <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" id="newArticles"type="newArticles">Scrape New</button>
      <button class="btn btn-outline-success my-2 my-sm-0" id="newArticles"type="newArticles">Clear Articles</button>
    </form> --}}
  </div>
</nav>

<div class="jumbotron">
  <h1 class="display-4">Welcome. Hit the button to scrape random news stories</h1>

  <hr class="my-4">
 
  <a class="btn btn-primary btn-lg" id="scrapeArticles"role="button">Scrape</a>
  <a class="btn btn-primary btn-lg" id="clearArticles" role="button">Clear Articles</a>
</div>